Com.Ambassador.Service.Purchasing.Lib/bin
Com.Ambassador.Service.Purchasing.Lib/obj
Com.Ambassador.Service.Purchasing.WebApi/bin
Com.Ambassador.Service.Purchasing.WebApi/obj
Com.Ambassador.Service.Purchasing.WebApi/appsettings.json
Com.Ambassador.Service.Purchasing.WebApi/Properties/launchSettings.json
